
.articlePage{
  display: flex;
  flex-direction: column;
  word-break: break-all;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

h1{
 justify-content: center;
}

.articleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.articleList{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   word-break: break-all;
   background-color: #fff;
   padding: 15px 15px;
   border: 1px solid #000;
}

.articleListmargin{
   margin: 1rem;
}

.content {
  flex-direction: column;
  flex-wrap: wrap;
}

.link{
  font-style: italic;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.Articleimg{
    border: 1px solid #000;
}

.btn_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
  text-decoration: none;
}
