.main {
    height: 1070px;
    width: 1920px;
    background: #191919;
    padding-top: 10px;
    font-family: sans-serif
}

.header {
    height: 68px;
    padding-left: 63px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
}

.content {
    display: flex;
    height: 1002px;
}

.left-block {
    width: 260px;
    padding: 0px 6px;
    font: #FFFFFF;
}

.left-name {
    width: 100%;
    display: flex;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
    height: 88px;
    justify-content: space-around;
    align-items: center;
}

.left-list {
    width: 100%;
    padding-top: 5px;
}

.list-programs {
    padding: 13px 0px;
    color: #FFFF;

}

.train-menu {
    padding: 2px 20px;
    list-style-type: none;
    background-image: url(img/Star\ 2.png);
    background-position: 0 4px;
    background-repeat: no-repeat;

}

.train-menu:hover {
    background-color: #323232;
    border-radius: 6px;
}

.train-list {
    display: none;
}

.train-menu:hover .train-list {
    display: block;
}

.left-menu {
    width: 100%;
    height: 184;
    border-top: 1px solid #646464;
    margin-top: 500px;
    color: #FFFF;
}

.button-train {
    background-color: #323232;
    color: #FFFFFF;
    border: none;
}

.white-block {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border: black solid 1px;
}

.exercise {
    width: 260px;
    height: 100%;
    background-color: #252525;
    color: #FFFFFF;
}

.exercise-list {
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url(img/Rectangle\ 15.png);
    padding: 0px 6px;
}

.exercise-list li div {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

}

.button-exercise {
    background-color: #252525;
    color: #FFFFFF;
    border: none;
}

.table-approach {
    width: 1400px;
}

table.iksweb {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table.iksweb th {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #354251;
}

table.iksweb td {
    font-size: 25px;
    color: #354251;
}

table.iksweb td {
    white-space: pre-wrap;
    padding: 10px 5px;
    line-height: 20.49px;
    vertical-align: middle;
    border-top: 1px solid #354251;
}

table.iksweb th {
    font-size: 25px;
    white-space: pre-wrap;
    padding: 10px 5px;
    line-height: 20.49px;
    vertical-align: middle;
    background-color: #323232;
    color: #ffffff;

}

table.iksweb tr,
table.iksweb th {
    height: 80px;
}

table.iksweb tr:hover {
    background-color: #f9fafb
}

table.iksweb tr:hover td {
    color: #354251;
    cursor: default;
}

@media (max-width: 360px) {
    .main {
        width: 375px;
        height: 694px;
    }

    .content {
        position: relative;
        height: 100%;
    }

    .left-block {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .left-name {
        justify-content: flex-start;
    }

    .white-block {
        background-color: transparent;
        position: absolute;
    }

    .exercise {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    .table-approach {
        width: 100%;
        position: absolute;
        background-color: white;
        z-index: 3;
    }

    .none {
        display: none;
    }


}